# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Environment Variables
.env

# Simulation Cache
cache/
*.pkl

# OS
.DS_Store
Thumbs.db

*.egg-info/
dist/
build/
